<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Job Search</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3.org/StyleSheets/Core/Modernist" type="text/css" />
  </head>

  <body>
  <h2 class="form-heading">Job Search</h2>
      <div class="controls">
        <form>
          <p>
            <label for="search">Enter a keyword to search job (required): </label>
            <input type="text" id="search" class="search" required>
          </p>
          <p>
            <!-- <button type="submit">Submit search</button> -->
          </p>
        </form>
      </div>
     <div id="job"></div>
    <script> 
    
    var searchTerm = document.getElementById('search');
    var input = '';

	const app = document.getElementById('job')
    const container = document.createElement('div')
    searchTerm.addEventListener('change', function(e) {
    	app.appendChild(container)
    	while (container.firstChild) {
    		container.removeChild(container.firstChild);
        }
    	
    	input = e.target.value; 
    	console.log("get in here")
    	console.log(input)
    	var request = new XMLHttpRequest()
        request.open('GET', 'https://authenticjobs.com/api/?api_key=e9d6324e7773666093c5dfa0b4212ff0&format=json&method=aj.jobs.search&keywords='+input, true)
        request.onload = function() {
          // Begin accessing JSON data here
          response = JSON.parse(this.response)
          console.log(response['listings']);
          //console.log(response);
          data = response.listings.listing;
          var keys = Object.keys(data);
          
          if (request.status >= 200 && request.status < 400) {
            
        	  for(var i=0;i<data.length;i++){
        		  job = data[keys[i]]
        	      const card = document.createElement('div')
        	      card.setAttribute('class', 'card')
        
        	      const detail_link = document.createElement('a')
        	      var text = document.createTextNode(job.title)
        	      var keywords = job.keywords
        	      var url = job.url
        	      detail_link.setAttribute('href', "jobdetail.html?keywords="+keywords+"&url="+url+"&title="+job.title); 
        	      /* detail_link.setAttribute('href', job.url); */ 
        	      detail_link.appendChild(text);
        	      /* detail_link.textContent = job.title */
        	
        	      const p = document.createElement('p')
        	      job.description = job.description.substring(0, 300)
        	      p.textContent = `${job.description}...`
        	
        	      container.appendChild(card)
        	      card.appendChild(detail_link)
        	      /* card.appendChild(p) */
            }
          } else {
            const errorMessage = document.createElement('marquee')
            errorMessage.textContent = `Gah, it's not working!`
            app.appendChild(errorMessage)
          }
        }

        request.send()
    }); 
    
   
    

    </script>
  </body>
</html>